/* home screen */
/* filter buttons */
.btn {
  background-color: #eb7d56 !important;
  border: 1 px solid #eb7d56 !important;
  padding: 4px;
  margin: 0;
  border-radius: 16px;
}
/* background */
.wrapper-background {
  background-image: url("https://previews.123rf.com/images/mangpor2004/mangpor20041704/mangpor2004170400161/77115175-blurred-background-blur-store-with-bokeh-light-background-business-banner-black-and-white-tone.jpg");
  height: 9.6rem !important;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper-background {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* article screen */
.row-up {
  background-color: #d3d3d3;
  height: 2rem;
}
