/* home screen */
/* filter buttons */
.btn {
  background-color: #2a9d8f !important;
  padding: 4px;
  margin: 0;
  border-radius: 16px;
}
/* background */
.wrapper-background {
  background-image: url("https://previews.123rf.com/images/mangpor2004/mangpor20041704/mangpor2004170400161/77115175-blurred-background-blur-store-with-bokeh-light-background-business-banner-black-and-white-tone.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 6.4rem !important;
  width: 100%;
  /* background: rgb(42, 157, 143);
  background: linear-gradient(
    82deg,
    rgba(42, 157, 143, 1) 32%,
    rgba(231, 111, 81, 1) 88%
  ); */
}
.wrapper-background {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* article screen */
.row-up {
  background: rgb(42, 157, 143);
  background: linear-gradient(
    82deg,
    rgba(42, 157, 143, 1) 8%,
    rgba(231, 111, 81, 1) 88%
  );
  height: 2rem;
}
