/* loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 20%; */
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fa9c23;
  border-color: #fa9c23 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.rounded {
  border-radius: 0.25rem !important;
}

.card {
  padding: 2rem;
  height: 100%;
  border: 1px solid grey;
}

.card-title a {
  color: #2e2e2e;
}

.card-title a:hover {
  color: #fa9c23;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

#view_btn {
  background-color: #fa9c23;
  color: white;
}

.card-img-top {
  width: 200px;
  height: 150px;
}

.ratings {
  font-size: 1.2rem;
  color: #fdcc0d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: grey;
  margin-left: 0.5rem;
}
.search-box-inputp {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 8px 8px;
  border-radius: 20px;
  width: 40vw;
}
.search-box-inputp > input {
  border-radius: 20px;
  width: 16vw;
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}
.search-box-inputp > input:focus {
  outline-width: 0ch;
}
.search-box-buttonp > button {
  background-color: transparent;
  border: none;
}
.header {
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: -webkit-linear-gradient(
    top left,
    #264653 0%,
    #2a9d8f 25%,
    #e9c46a 50%,
    #f4a261 75%,
    #e76f51 100%
  );
}
.react-link {
  text-decoration: none;
}
.header-left {
  color: black;
  font-size: x-large;
  font-weight: bold;
}

.card-img-top {
  width: 100%;
  height: 320px;
}

.article-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.article-row__left {
  display: flex;
  flex-direction: column;
}
